{% extends "base.html" %}

{% block title %}IT32S2 Student Records{% endblock title %}

{% block jumbotron %} Student Records of IT32S2 {% endblock jumbotron %}
{% block content %}
<br>
<div class="col-md-12">
    
    <div class="container">
        <span>
            <a href="/create" class="btn btn-primary">
                Insert New Record
            </a>
    
        </span>
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                <thead style="vertical-align: middle;">
                    <!-- <th><input type="checkbox" id="checkall" /></th> -->
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Student Section</th>
                    <th>Student Department</th>
                    <!-- <th>Age</th>
                    <th>Address</th> -->
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <!-- <td><input type="checkbox" class="checkthis" /></td> -->
                        <td>{{ student.studentnumber }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.section }}</td>
                        <td>{{ student.department }}</td>
                        <!-- <td>{{ student.age }}</td>
                        <td>{{ student.address }}</td> -->
                        <td><a href="/view/{{ student.id }}" class="btn btn-info btn-lg">View</a></td>
                        <td><a href="/edit/{{ student.id }}" class="btn btn-primary btn-lg">Edit</a></td>
                        <td><a href="/delete/{{ student.id }}" class="btn btn-danger btn-lg">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock content %}