{% extends "base.html" %}

{% block title %}IT32S2 Student Attendance{% endblock title %}

{% block jumbotron %} Student Attendance {% endblock jumbotron %}
{% block content %}
<div class="container">
      <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                  <thead>
                        <tr>
                              <th>Student Number</th>
                              <th>Name</th>
                              <th>Section</th>
                              <th>Subject Attended</th>
                              <th>Discussion type</th>
                              <th>Room</th>
                              <th>Date of Attendance</th>
                              <th>Status</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for attendance in attendance_data %}
                        <tr>
                              <td>{{ attendance.student.studentnumber }}</td>
                              <td>{{ attendance.student.name }}</td>
                              <td>{{ attendance.student.section }}</td>
                              <td>{{ attendance.subjects }}</td>
                              <td>{{ attendance.discussion }}</td>
                              <td>{{ attendance.room }}</td>
                              <td>{{ attendance.date }}</td>
                              <td>{{ attendance.status }}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
      </div>
</div>


{% endblock content %}